.footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #8b5cf6;
  font-family: 'Zain', sans-serif;
  font-size: 1.5em;
  font-weight: 800;
  user-select: none;
  text-align: center;
  padding-top: 2em;
}

.links {
  color: #617589;
  font-family: 'Funnel Sans', sans-serif;
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 1em;
}

.footer span {
  color: #617589;
  padding-bottom: 0.5em;
  font-family: 'Funnel Sans', sans-serif;
}
