.createWeekCont {
  display: flex;
  flex-direction: column;
  background-color: #f8f7ff;
  padding: 40px;
  font-family: 'Funnel Sans', sans-serif;
  flex: 1;
}

.createWeekCont h2 {
  font-size: 2em;
  font-family: 'Zain', sans-serif;
  font-weight: 800;
  color: #8b5cf6;
}

.subtitle,
.createWeekCont label {
  color: #798899;
  font-size: 1.2em;
}

.createWeekCont hr {
  width: 100%;
  border: 2px solid #8b5cf6;
  margin: 20px 0;
  border-radius: 8px;
}

.weekdaysCont {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.datePicker {
  border: none;
  width: 200px;
  height: 50px;
  color: #6d7381;
  background-color: #f6f6f8;
  border: 1px solid #6d7381;
  border-radius: 6px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  font-family: 'Zain', sans-serif;
  align-self: center;
  margin-top: 20px;
}
