.createWeekCont {
  display: flex;
  flex-direction: column;
  background-color: #f8f7ff;
  padding: 40px;
  font-family: 'Funnel Sans', sans-serif;
  flex: 1;
}

.createWeekCont h2 {
  font-size: 2em;
  font-family: 'Zain', sans-serif;
  font-weight: 800;
  color: #8b5cf6;
}

.subtitle,
.createWeekCont label {
  color: #798899;
  font-size: 1.2em;
}

.createWeekCont hr {
  width: 100%;
  border: 2px solid #8b5cf6;
  margin: 20px 0;
  border-radius: 8px;
}

.weekdaysCont {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.datePicker {
  border: none;
  width: 200px;
  height: 50px;
  color: #6d7381;
  background-color: #f6f6f8;
  border: 1px solid #6d7381;
  border-radius: 6px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  font-family: 'Zain', sans-serif;
  align-self: center;
  margin-top: 20px;
  padding-right: 10px;
}

.weekSummary {
  text-align: center;
  margin-top: 30px;
  color: #6d7381;
  font-weight: 800;
}
.createWeekBtn {
  background-color: #8b5cf6;
  border: none;
  padding: 15px 0;
  margin-top: 40px;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 600;
  font-family: 'Zain', sans-serif;
  color: #fff;
  width: 80%;
  align-self: center;
  cursor: pointer;
  transition: 0.2s all;
}

.createWeekBtn:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createWeekBtn:active {
  transform: scale(1);
  box-shadow: none;
}

.createWeekBtn:disabled {
  opacity: 0.5;
  pointer-events: none;
}
