.weekdayCont {
  background-color: #fff;
  padding: 20px;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  align-self: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  border-left: 2px solid #8b5cf6;
  border-bottom: 2px solid #8b5cf6;
}

.dayTitle {
  font-weight: 700;
  font-size: 1.4em;
  font-family: 'Zain', sans-serif;
  color: #8b5cf6;
}

.weekdayCont form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.inputCont {
  display: flex;
  flex-direction: column;
  color: #6d7381;
  font-family: 'Zain', sans-serif;
}

.inputCont label {
  color: #6d7381cc;
  font-weight: 600;
}

.timePicker {
  background-color: #f6f6f8;
  color: #6d7381;
  border: none;
  border-radius: 30px;
  padding: 20px;
  font-weight: 600;
  font-size: 1.5em;
  width: 70%;
  max-width: 200px;
  border: 1px solid #6d73812c;
  margin-top: 5px;
}

.timePicker:focus {
  outline: 1px solid #8b5cf6;
}

.dayOffBtn {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: #8b93a4;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s all;
  user-select: none;
}

.dayOffBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transform: scale(1.05);
}

.dayOffBtn:active {
  transform: scale(0.9);
}

.dayOff {
  background-color: #dae2f3;
  opacity: 0.5;
}

.dayOff > form > .inputCont > input {
  user-select: none;
  pointer-events: none;
}
