.homeCont {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.heroCont {
  background-image: linear-gradient(
      180deg,
      rgba(139, 92, 246, 0.2) 0%,
      rgba(76, 29, 149, 0.7) 100%
    ),
    url('../../assets/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 4em;
}

.heroCont h1 {
  font-family: 'Zain', sans-serif;
  color: #fff;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
}

.heroCont .highlight {
  color: #facc14;
}

.heroCont p {
  color: #fff;
  font-family: 'Funnel Sans', sans-serif;
  margin-top: 1em;
  line-height: 22.5px;
}

.mainBtn,
.secBtn {
  margin-top: 1em;
  border-radius: 8px;
  border: none;
  padding: 0.2em 0;
  font-family: 'Zain', sans-serif;
  font-weight: 800;
  font-size: 1em;
  color: #8b5cf6;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.mainBtn {
  background-color: #8b5cf6;
  color: #fff;
}

.whySection,
.howSection,
.whoSection,
.getStartedSection,
.featuresCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.whySection h2,
.howSection h2,
.whoSection h2,
.getStartedSection h2 {
  font-weight: 800;
  font-size: 2em;
  font-family: 'Zain', sans-serif;
  text-align: center;
}

.howSection h2 {
  margin-bottom: 1em;
}

.whySection,
.howSection {
  background-color: #fff9fa;
  padding: 2em 2em;
}

.whySection p {
  font-family: 'Funnel Sans', sans-serif;
  margin-top: 0.5em;
  color: #798899;
  text-align: center;
}

.howPoint {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2em;
  padding: 0 2em;
}

.howPoint span {
  color: #fff;
  height: 1em;
  width: 2em;
  padding: 20px 0;
  text-align: center;
  border-radius: 20px;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.howPink {
  background-color: #f472b6;
}

.howPurple {
  background-color: #8b5cf6;
}

.howPoint div h3 {
  font-weight: 700;
  font-family: 'Zain', sans-serif;
  font-size: 1.3em;
}

.howPoint div p {
  text-align: center;
  margin-top: 0.5em;
  background-color: #fff;
  padding: 1em 1em;
  border-radius: 10px;
  font-family: 'Funnel Sans', sans-serif;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.whoSection {
  background-color: #fff;
  padding: 2em 0;
}

.getStartedSection {
  background-color: #fff9fa;
  padding: 4em 2em;
}

.getStartedSection p {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-family: 'Funnel Sans', sans-serif;
  color: #79899a;
}

.ctaBtn {
  background-color: #8b5cf6;
  color: #fff;
  font-family: 'Zain', sans-serif;
  border: none;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 8px;
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #8b5cf6 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #8b5cf6);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

/* Dashboard */
.dashboardCont {
  display: flex;
  flex-direction: column;

  width: 100%;
  flex: 1;
  background-color: #f8f7ff;
  padding: 40px 40px;
  font-family: 'Funnel Sans', sans-serif;
}

.dashboardCont h2 {
  font-size: 2em;
  font-weight: 700;
}

.bold {
  color: #8b5cf6;
}

.subtitle {
  color: #798899;
  font-size: 1.2em;
  margin-top: 10px;
}

.createWeekCont {
  background: linear-gradient(to bottom right, #6e2def, #9f64fe);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  width: 70%;
  align-self: center;
  border-radius: 30px;
  margin-top: 50px;
  padding: 50px;
  max-width: 500px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 8px solid #fff;
}

.lightSubtitle {
  color: #e7d9fe;
  font-size: 1.2em;
  line-height: 25px;
}

.createWeekCont h2 {
  color: #fff;
  font-family: 'Zain', sans-serif;
  line-height: 35px;
}

.weekCtaBtn {
  border: none;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 15px;
  width: 150px;
  font-size: 1em;
  font-weight: 700;
  color: #8b5cf6;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: 0.2s all;
  margin-top: 50px;
}

.weekCtaBtn:hover {
  transform: scale(1.1);
  color: #6e2def;
}

.iconCont {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 40px;
  background-color: #a06ff9;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px,
    rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
  position: relative;
  margin-top: 60px;
}

.iconCont > span {
  font-size: 4.5em;
  user-select: none;
}

.iconContTop,
.iconContBottom {
  color: #6e2def;
  background-color: #fbd94f;
  padding: 15px;
  border-radius: 10px;
  transform: rotateZ(15deg);
  position: absolute;
  top: -20px;
  right: -50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.iconContTop > span,
.iconContBottom > span {
  font-size: 3em;
  user-select: none;
}

.iconContBottom {
  bottom: -30px;
  left: -50px;
  top: initial;
  right: initial;
  transform: rotateZ(-15deg);
  background-color: #ff6b9d;
  color: #fff;
}

a {
  text-decoration: none;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (min-width: 738px) {
  .featuresCont {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    align-items: stretch;
    justify-items: center;
  }

  .heroCont h1 {
    width: 80%;
    align-self: center;
  }

  .howPointsCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .howPoint {
    margin: 0;
    padding: 0;
  }

  .howPoint span {
    width: 2em;
    padding: 1em;
    font-size: 1em;
  }

  .whoPoints {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .heroCont {
    height: 400px;
  }

  .mainBtn,
  .secBtn,
  .ctaBtn {
    width: 400px;
    align-self: center;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 1280px) {
  .heroCont p {
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.3em;
  }

  .heroCont h1 {
    font-size: 2.8em;
  }

  .whySection {
    padding: 2em 16em;
    align-self: center;
  }

  .howPointsCont {
    gap: 100px;
  }

  .whoPoints {
    gap: 50px;
  }
}
